body {
    background-color: #ddd;
}

ul.headers > li {
    user-select: none;
    -ms-user-select: none;
    text-align: center;
    list-style: none;
    float: left;
    width: 9%;
    margin: 8px 1%;
    &.name{width: 19%;}
    &.time_started{width: 15%;}
    &.metrics{width: 7%;}
    &.build{width: 7%;}
    &.unit_test{width: 7%;}
    &.functional_test{width: 11%;}

    @media only screen and (max-width:790px) { 
        &.metrics, &.build, &.unit_test, &.functional_test{display: none;}
        width: 25%;
        &.name{width: 19%;}
        &.time_started{width: 15%;}

        @media only screen and (max-width:550px) { 
            &.time_started{display: none;}
            width: 32%;
            &.name{width: 30%;}
        }
    }
}

.hidden{display: none}