@mixin loaderSemiCircle ($distance, $color, $duration) {
    content: "";
    position: absolute;
    right: $distance;
    bottom: $distance;
    top: $distance;
    left: $distance;
    border: 1px solid transparent;
    border-top-color: $color;
    border-radius: 50%;
    animation: spin $duration linear infinite;
}

@mixin stateRow ($color, $colorLight, $cursor) {
    transition:all 0.4s ease;
    color: $color;
    border-color: $color;
    @include gradientLinearDiagonal($colorLight);
    ul.summary {cursor: $cursor;}
    @if $cursor == pointer {
        &:hover{box-shadow: inset 0 0 0 2px $color;}
    }
}

@mixin gradientLinearDiagonal($from, $to: #fff) {
    background: linear-gradient(to bottom right, $from 0%, $to 100%);
}